body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pic{
  display: flex;
  padding-top: 12px;
  max-height: 350px;
  padding-left: 50%;
  align-items: center;
  left: 50%;
  
}

.pic-container{
  display: flex;
  align-items: c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gen-button{
  padding: 0;
border: none;
background: none;
color: white;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.spotifyWidget{
  padding-right: 50px;
  display: flex;
  
}
.quoteContainer{
  max-width: 400px;
  margin-top: 50px;
  font-size: 32px; /* You missed the unit. I assumed px. */
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  padding: 24px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for depth */
  backdrop-filter: blur(7px); /* This creates the frosted glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

.navbar-brand{
  padding-right: 220px;
  color: white !important;
}

.nav-link{
  color: white !important;
}

.colorDiv{
  
  padding: 18px;
  border-radius: 18px;
  width: 400px;
  max-width: 400px;
  
  font-size: 32px; /* You missed the unit. I assumed px. */
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  padding: 24px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for depth */
  backdrop-filter: blur(7px); /* This creates the frosted glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.changeWallpaper{
  margin-top: 50px;
  font-size: 32px; /* You missed the unit. I assumed px. */
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  padding: 24px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for depth */
  backdrop-filter: blur(7px); /* This creates the frosted glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
}

.newWidget{
  padding-left: 800px;
}

.large-header {
  /* change wallpaper here */
	background-image: url(Files/space.jpg);
  
}

.wrapper{
  width: 100%;
  height: 100%;
}

.widget1{
  background-color: red;
}

.widget-heading{
  margin-right: 1300px;
  padding: 24px;
  border-radius: 8px;
  background-color: #333;
  text-decoration: underline;
  padding-bottom: 80px;
}

/* maybe make this look cooler */
.widget-info{
  position: absolute;
  margin-left: 1300px;
  margin-bottom: 800px;
  background-color: #333;
  border-radius: 12px;
  flex-direction: column;
  overflow: hidden;
  padding: 28px;
  padding-left: 40px;
  padding-right: 40px;
  ;
}

.info{
  font-size: 12px;
}

.response{
  padding-top: 40%;
}

.navbar{
  background-color: rgb(63, 63, 63);
}

.app{
  background-color: #0a101c !important;
}

.App {
  background-color: black !important; 
}

.App-header {
  background: black !important;
}

.wallpaper{
  background-color: #0a101c;
}

.wallpaperButtons{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.about-background {
  background-image: url("Files/space.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Cards */
.card{
  transition: all 0.5s ease;
  max-height: 200px;
}

.card{
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}



/* .main-title {
	position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 55px;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 5%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
} */

.title{
  font-size: 45px;
  /* background-color: #333;
  padding: 24px; */
  
  
}

.gametitle{
  color: white;
}

.winningNumber{
  margin: 0;
}

.game-border{
  
}

.Games{
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  background-color: #333;
  margin: 0 auto;
}

.Game1 {
   width: 526px;
   padding-right: ;
}

.Game2 {
  margin: 0 auto;
}

.Game3 {
  margin: 0 auto;
}

/* chatbot */
.about-background {
  padding: 20px; /* Add padding to give space around the chatbot */
}

.chatbot-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  color: white;
}

.chatbot-wrapper {
  background-color: #50516538;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 144px;
    padding: 111px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.label {
  margin-top:px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.inputstuff {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color:#263a4e;
  color: #fff;
  border: 50px;
  padding: 10px 30px;
  margin-top: 20px;
  margin-right: 450px;
  border-radius: 20px;
  
  cursor: pointer;
  padding-right: 50px;
  
}
p {
  color:#fff;
  margin-top: 20px;
  margin-left: 320px;
}

.generated-text {
  margin-top: 20px;
  margin-left: 320px;
  color:#FFF;
}
.message-container {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  border: 1px solid #ccc; /* Add a border for better separation */
  padding: 70px;
  margin-bottom:50px;
  background-color: #0a101c; /* Set background color for the container */
}

.message {
  margin: 5px 0;
  margin-left: -50px;
}

.message.user {
  text-align: right;
}

.white-text {
  color: white;
}


/* chatbot */

.element{
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 55px;
	margin: 0;
	padding: 0;
  top: 5%;
	left: 50%;
  bottom: 100%;
	color: #f9f1e9;
	text-align: center;
  
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

/* gets rid of audio bar */
audio{
  display: none;
}

.link__hover-effect--white:after{
  background-color: white;
}

.link__hover-effect--black:after{
  background-color: black;
}

.link__hover-effect:hover:after{
  left: 0;
  width: 100%;
}



.press{
  position: absolute;
  margin-top: 250px;
}

.link__hover-effect-icon:after{
  background-color: white;
}

.btn-three {
  color: #FFF !important;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}




.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

.thin{
  font-weight: 20;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}



